$hole-crew-orange: #E99600;
$hole-crew-orange-hover: #e99700c5;
$hole-crew-navy: #002857;


* {
  font-family: DM Sans, Helvetica, Arial, sans-serif;
}

.relative {
  position: relative;
}

.absolute{
  position: absolute;
}

.cta-header-text {
  font-size: 48px;
}

.orange-text {
  color: $hole-crew-orange;
}

.flex {
  display: flex;
}

.flex-between{
  justify-content: space-between;
}

.text-left {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.max-w-115 {
  max-width: 115px;
}

.max-w-400 {
  max-width: 400px;
}

.max-w-500 {
  max-width: 500px;
}

.max-w-550 {
  max-width: 550px;
}

.max-w-600 {
  max-width: 600px;
}

.m-auto {
  margin: auto;
}

.max-w-700 {
  max-width: 700px;
}

.text-normal {
  font-weight: normal;
}

.text-14 {
  font-size: 14px;
}

.text-32{
  font-size: 32px;
}
.m-50{
  margin-right: 50px;
}

.orange-bg{
  background-color: $hole-crew-orange;
}

.orange-button {
  background-color: $hole-crew-orange;
  color: white;
  border-radius: 4px;
  padding: 2px 35px;
  height: 35px;
  border: none;
  margin-left: 20px;
  font-weight: 500;
}

.orange-button:hover {
  background-color: $hole-crew-orange-hover;
}

.center-flex-content{
  justify-content: center;
}

.flex-wrap{
  flex-wrap: wrap;
}

.flex-column{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.flex-g-1{
  flex-grow: 1;
}

.flex-g-2{
  flex-grow: 2;
}

.flex-g-3{
  flex-grow: 3;
}

.min-w-200{
  min-width: 200px;
}

.min-w-300{
  min-width: 300px;
}

.min-w-400{
  min-width: 400px;
}

.max-w-200{
  max-width: 200px;
}

.max-w-300{
  max-width: 300px;
}

.max-w-400{
  max-width: 400px;
}

.max-w-440{
  max-width: 440px;
}
